
@{
    ViewData["Title"] = "Báo cáo truyền dữ liệu, đơn vị truyển dữ liệu";
}

<div class="col-xl-12 col-lg-12">
    <div class="card mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">
                Tra cứu thông tin
            </h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-xl-4 col-lg-6">
                    <label for="transmissionUnit">Đơn vị truyền dữ liệu</label>
                    <select class="form-control" id="transmissionUnit" placeholder="Đơn vị truyền dữ liệu">
                        <option value="0">Chọn đơn vị truyền dữ liệu</option>
                    </select>
                </div>
                <div class="form-group col-xl-4 col-lg-6">
                    <label for="department">Sở GTVT</label>
                    <select class="form-control" id="department" placeholder="Sở GTVT">
                        <option value="-1">Chọn sở GTVT</option>
                    </select>
                </div>
                <div class="form-group col-xl-4 col-lg-6">
                    <label for="transportUnit">Đơn vị vận tải</label>
                    <select class="form-control" id="transportUnit" placeholder="Đơn vị vận tải">
                        <option value="0">Chọn đơn vị vận tải</option>
                    </select>
                </div>
                <div class="form-group col-xl-4 col-lg-6">
                    <label for="licensePlate">Biển kiểm soát</label>
                    <select class="form-control" id="licensePlate" placeholder="Biển kiểm soát">
                        <option value="">Chọn biển kiểm soát</option>
                    </select>
                </div>
                <div class="form-group col-xl-4 col-lg-6">
                    <label for="date">Chọn ngày</label>
                    <input type="text" class="form-control" id="date" name="date" placeholder="Nhập ngày">
                </div>
              
            </div>
            <button type="submit" name="btn-result" class="btn btn-info" style="margin: auto">Tìm kiếm</button>
        </div>
    </div>
</div>

<!-- Hiển thị dữ liệu-->
<div class="col-xl-12 col-lg-12">
    <div class="card mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Báo cáo truyền dữ liệu đơn vị truyền dữ liệu</h6>
            <h6 class="total font-weight-bold"></h6>
        </div>
        <div class="table-responsive p-3">
            <table id="report" class="table table-bordered text-center" style="color: black">
                <thead>
                    <tr>
                        <th rowspan="2" style="width: 10px;">STT</th>
                        <th rowspan="2">Biển kiểm soát</th>
                        <th rowspan="2">Loại hình</th>
                        <th rowspan="2">Sở GTVT</th>
                        <th rowspan="2">Đơn vị vận tải</th>
                        <th rowspan="2">Số bản tin</th>
                    </tr>
                
                </thead>
                <tbody></tbody>
                <tfoot><tr></tr></tfoot>
            </table>
        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination"></ul>
        </nav>
    </div>
</div>

<script>


    var provider = '@ViewBag.provider';
    var companyId = '@ViewBag.companyId';
    var vehicle = '@ViewBag.vehicle';
    var date = '@ViewBag.date';
    var index = '@ViewBag.index';

    $(document).ready(function () {
        datePickerOne();
        loadDVTruyenDL();
        loadSoGTVT();
        $("#transmissionUnit").select2();
        $("#department").select2();
        $("#transportUnit").select2();
        $("#licensePlate").select2();
    });
    function loadSoGTVT() {
        callApi(`${REP_URL}department/all`, null, "GET", function (obj) {
            let res = "<option value='-1'>Chọn sở GTVT</option>";
            obj.forEach(function (pro) {
                res += `<option value="${pro.id}">${pro.name}</option>`;
            });
            $("#department").html(res);
        });
    }

    function loadDVTruyenDL() {
        callApi(`${REP_URL}provider/all`, null, "GET", function (obj) {
            let res = "<option value='-1'>Chọn đơn vị truyền dữ liệu</option>";
            obj.forEach(function (pro) {
                res += `<option value="${pro.id}">${pro.name}</option>`;
            });
            $("#transmissionUnit").html(res);           
        });
    }


    $("#department").change(function () {
        callApi(`${REP_URL}company/department/${$(this).val()}`, null, "GET", function (obj) {
            let res = "<option value='0'>Chọn đơn vị vận tải</option>";
            obj.forEach(function (pro) {
                res += `<option value="${pro.id}">${pro.name}</option>`;
            });
            $("#transportUnit").html(res);
        });
    });

    $("#transportUnit").change(function () {
        callApi(`${REP_URL}vehicle/company/${$(this).val()}`, null, "GET", function (obj) {
            let res = "<option value=''>Chọn biển kiểm soát</option>";
            obj.forEach(function (pro) {
                res += `<option value="${pro.vehicle}">${pro.vehicle}</option>`;
            });
            $("#licensePlate").html(res);
        });
    });

    $("[name='btn-result']").click(function () {
        index = 0;
        showResult(index);
    });


    function showResult(index) {
        var transmissionUnit = $("#transmissionUnit").val();
        var date = $("#date").val();
        date = date !== "" ? ConvertToUnix(date) : 0;
        var department = $("#department").val();
        var transportUnit = $("#transportUnit").val();
        var licensePlate = $("#licensePlate").val();
        $("#report tbody tr").remove();
        $("#report tfoot tr th").remove();
        window.history.pushState(window.location.href, "Báo cáo đơn vị truyền dữ liệu", `?provider=${transmissionUnit}&companyId=${transportUnit}&date=${date}&index=${index}&vehicle=${licensePlate}`);
        callApi(`${REP_URL}datatransfer/provider/${transmissionUnit}?companyId=${transportUnit}&date=${date}&index=${index}&vehicle=${licensePlate}`, null, "GET", function (item) {
            if (item.records > 0) {
                $.notify("Tải dữ liệu thành công", "success");
                let res = "";
                let count = 1;
                item.data.forEach(function (pro) {
                    res += "<tr>";
                    res += `<td>${count}</td>`;
                    //res += `<td class="text-left"><a href=>${pro.vehicle}</a></td>`;
                    res += `<td class="text-left"><a href="/bao-cao-truyen-du-lieu/truyen-du-lieu/bien-so-xe?vehicle=${pro.vehicle}&start=${date}&end=${date}">${pro.vehicle}</a></td>`;
                    res += `<td class="text-left">${pro.vehicle_type_name}</td>`;
                    res += `<td class="text-left">${pro.department_name}</td>`;
                    res += `<td class="text-left">${pro.company_name}</td>`;
                    res += `<td class="text-left">${pro.image_count}</td>`;
                    res += "</tr>";
                    count++;
                });
                let totalRes = `<th>Tổng</th>`;
                totalRes += `<th></th>`;
                totalRes += `<th></th>`;
                totalRes += `<th></th>`;
                totalRes += `<th></th>`;
                totalRes += `<th class="text-right">${item.totalWaypoints}</th>`;
                
                $("#report tbody").html(res);
                $("#report tfoot tr").html(totalRes);
                $("#report tfoot tr th").addClass("text-danger");
                Paging(index, 'showResult', item.records);
            } else {
                $.notify(`Không tìm thấy kết quả nào`, "error");
            }
        });
    }

</script>